@import 'src/colors.scss';

.base {
  position: relative;
  height: 100%;
  width: 100%;

  .container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;

    .quote_container{

    }

    .top_right_container {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;

      .clock_container {

      }
    }

    .bottom_right_container {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      display: flex;

    }

  }
}
