$dark-theme-background: #23272F;
$dark-theme-background-alt: #1f2129;
$dark-theme-background-light: #3b3b42bb;
$dark-theme-text: #EFEFEF;
$dark-theme-text-alt: #DADADA;
$dark-theme-background-icon: #303033;
$dark-theme-background-icon-hover: #606062;
$dark-theme-divider: #414144;


$light-theme-background: #EEEEEE;
$light-theme-background-alt: #DDDDDD;
$light-theme-text: #23272F;