@import 'src/colors.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
}

#root {
  height: 100%;
}
body {
  height: 100vh;
  background-color: $dark-theme-background;
  color: $dark-theme-text;
}
button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}